***WEEK 1***

***Many Values to Multiple Variables***

In [ ]:


x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

***Global Variables***`

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

***Data Type***

![alt text](image.png)

***String***

In [20]:
b = "Hello, World!"
print(b[2:8])
print(b[:5])
print(b[5:])
print(b[-5:-2])
# index wise 0 to 1

# split
print(b.split(","))

llo, W
Hello
, World!
orl
['Hello', ' World!']

In [21]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

![alt text](image-1.png)

## List

In [24]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

List items are indexed, the first item has index [0], the second item has index [1] etc.

If you add new items to a list, the new items will be placed at the end of the list.

In [ ]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

In [26]:
print(type(list1))

<class 'list'>

In [30]:
# Access Items
print(list1[1])
print(list1[-1])

34
male

In [31]:
# add items
list1.append("Yash")
print(list1)

['abc', 34, True, 40, 'male', 'Yash']

![alt text](image-2.png)

## Tuple

In [35]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [33]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [37]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [41]:
thistuple1 = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple1.count(5)

print(x)

2

## Dectinory

In [42]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [48]:
print(thisdict["brand"])
x = thisdict.get("model")
print(x)
y=thisdict.keys()
print(y)

Ford
Mustang
dict_keys(['brand', 'model', 'year'])

In [ ]:
# add
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
# update
thisdict.update({"color":"blue"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'blue'}

In [ ]:
# remove
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964, 'color': 'blue'}

## Functions

In [53]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [54]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [55]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

# File I/O

In [78]:
f = open("demofile.txt", "rt")

In [79]:
print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

In [ ]:
with open("demofile.txt" , "a") as f:
    f.write("Hello YAsh kacha")
with open("demofile.txt") as f:
    print(f.read())

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!Hello YAsh kacha
Hello YAsh kacha