The Python package Numpy,

In [ ]:
print("Hello Word")

In [ ]:
pip install numpy

In [ ]:
import numpy as  np

In [ ]:
print(np.__version__)

In [ ]:
l1 = {1,2,3,4,5,6}
print(l1)

In [ ]:
x=np.array([1,2,3,4,5,6])

In [ ]:
x

In [ ]:
x=np.random.rand(5)
x

In [ ]:
x=np.random.randint(5,16,10)
x

In [ ]:
y=np.array([[1,2,3],[4,5,6],[4,3,2],[7,8,2]])
print(y)

In [ ]:
y=np.random.rand(3,3)
y

In [ ]:
y=np.random.randint(5,16,(4,3))
y

In [ ]:
z=np.array([[[1,2,3],[4,5,6],[4,3,2],[7,8,2]]])
print(z)

In [ ]:
a=np.zeros

In [ ]:
a=np.zeros((5,5))
a

In [ ]:
a=np.zeros((5,5),dtype=int)
a

In [ ]:
a=np.ones((5,5),dtype=int)
a

In [ ]:
a=np.full((5,5),10)
a

In [ ]:
a=np.eye(5,5,dtype=int)
a

In [ ]:
a=7*np.eye(5,5,dtype=int)
a

In [ ]:
a.size

In [ ]:
x.size

In [ ]:
y.size

In [ ]:
z.ndim

In [ ]:
z.shape

In [ ]:
x

In [ ]:
x.mean()

In [ ]:
x.max()

In [ ]:
x.min()

In [ ]:
x.argmax()

21.Create two 2D array of size 3 by 3 and perform four basic mathematical operations.

In [ ]:
import numpy as np 

array1 = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]]) 
array2 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]) 
print("Array 1:\n", array1) 
print("Array 2:\n", array2) 
print("-" * 20)

In [ ]:
addition = np.add(array1, array2) 
print("Addition (Array 1 + Array 2):", addition)

In [ ]:
subtraction = np.subtract(array1, array2) 
print("Subtraction (Array 1 - Array 2):", subtraction)

In [ ]:
multiplication = np.multiply(array1, array2) 
print("Multiplication (Element-wise):", multiplication)

In [ ]:
division = np.divide(array1, array2) 
print("Division (Array 1 / Array 2):", division)

In [ ]:
x[5:]

In [ ]:
x[:5]

Tutorial : 2 - Explore Pandas library to analyze  and manipulate data.

pandas is an open-source library for real world data analysis in python.
It is built on top of Numpy.
Using pandas, data can be cleaned , transformed, munipulated and analyzed.
The basic data structures of pandas are series and Dataframe.

1. Series Object: Series is a one diamensional labeled array.
2. Dataframe: A Dataframe in pandas is a two diamenstional, tabular data structure.
it consists of rows and Colums.
columns represents different feature.
raws represents

In [ ]:
pip install pandas

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd

s1 = pd.Series([10, 20, 30])
print(s1)

In [ ]:
s1 = pd.Series([100, 200, 300], index=['a', 'b', 'c'])
print(s1)

In [ ]:
s1.index

In [ ]:
data = [{'name': 'Mitanshu', 'Marks':25},
        {'name': 'Jaydeep', 'Marks':56},
        {'name': 'Hardik', 'Marks':41},
        {'name': 'Krishil', 'Marks':10},]

In [ ]:
Iris = pd.read_csv("Iris.csv")
Iris

In [ ]:
Iris.isna().sum()

In [ ]:
Iris.tail(10)

In [ ]:
Iris.index

In [ ]:
Iris.columns

In [ ]:
Iris.rename(columns={
    'SepalLengthCm': 'Sepal_Length',
    'SepalWidthCm': 'Sepal_Width',
    'PetalLengthCm': 'Petal_Length',
    'PetalWidthCm': 'Petal_Width'
}, )

In [ ]:
cat = Iris['Species'].unique()
cat

In [ ]:
Iris.replace("Iris-setosa", "Setosa", inplace=True)
Iris.replace("Iris-versicolor", "Versicolor", inplace=True)
Iris.replace("Iris-virginica", "Virginica", inplace=True)

In [ ]:
Iris.info()

In [ ]:
Iris.describe()

In [ ]:
Iris[['SepalLengthCm', 'SepalWidthCm']].head(50)

In [ ]:
def yes_no(Sepal_Length):
    return 'Yes' if Sepal_Length > 5 else 'No'

In [ ]:
Iris.drop('Result', axis=1, inplace= )

The .iloc indexer is primarily used for integerlocation based indexing.
#allowing you to access specific row and column

select the 51 to 55 rows

In [ ]:
Iris.iloc[51:56]

In [56]:
Iris[(Iris['PetalLengthCm']> 6 )& (Iris['SepalWidthCm']=="Virginica")]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [57]:
Iris.duplicated().sum()

np.int64(0)